<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Inmuebles</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/nuevo_inmueble">Añadir Inmueble</a>
                </li>
                <li>
                    <a href="/usuarios/login">Login</a>
                </li>
                <li>
                    <a href="/usuarios/registro">registro</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/inmuebles/all/all/all">Filtrar</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <%   tipos.forEach(tipo => { %>
                            <li>
                                <a href="/inmuebles/<%=tipo.id%>">
                                    <%=tipo.nombre%>
                                </a>
                            </li>
                            <%   }); %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>